<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJourneyLabel" jhiTranslate="pictripApp.journey.home.createOrEditLabel">Create or edit a Journey</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!journey.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="journey.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.journey.transportation" for="field_transportation">Transportation</label>
            <select class="form-control" name="transportation" [(ngModel)]="journey.transportation" id="field_transportation" >
                <option value="PLANE" jhiTranslate="pictripApp.Transportation.PLANE">PLANE</option>
                <option value="TRAIN" jhiTranslate="pictripApp.Transportation.TRAIN">TRAIN</option>
                <option value="CAR" jhiTranslate="pictripApp.Transportation.CAR">CAR</option>
                <option value="TAXI" jhiTranslate="pictripApp.Transportation.TAXI">TAXI</option>
                <option value="BOAT" jhiTranslate="pictripApp.Transportation.BOAT">BOAT</option>
                <option value="BIKE" jhiTranslate="pictripApp.Transportation.BIKE">BIKE</option>
                <option value="FOOT" jhiTranslate="pictripApp.Transportation.FOOT">FOOT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.journey.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="journey.duration"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="pictripApp.journey.stepFrom" for="field_stepFrom">Step From</label>
            <select class="form-control" id="field_stepFrom" name="stepFrom" [(ngModel)]="journey.stepFromId" required>
                <option [ngValue]="stepOption.id" *ngFor="let stepOption of stepfroms; trackBy: trackStepById">{{stepOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.stepFrom?.dirty && editForm.controls.stepFrom?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.stepFrom?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="pictripApp.journey.stepTo" for="field_stepTo">Step To</label>
            <select class="form-control" id="field_stepTo" name="stepTo" [(ngModel)]="journey.stepToId" required>
                <option [ngValue]="stepOption.id" *ngFor="let stepOption of steptos; trackBy: trackStepById">{{stepOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.stepTo?.dirty && editForm.controls.stepTo?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.stepTo?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
