<input #fileInput type="file" multiple [accept]="extensions" style="display:none" (change)="handleFiles($event)">
<button class="btn teal white-text" (click)="selectFiles()">Select some files</button>
<div id="justified-gallery-container" class="margin-v-2" [style.height.px]="galleryHeight">
    <div #boxes class="justified-gallery-box"
         *ngFor="let box of boxes; index as i"
         [id]="pictures[i].id"
         [style.width.px]="box.width"
         [style.height.px]="box.height"
         [style.top.px]="box.top"
         [style.left.px]="box.left">
        <div class="overlay" *ngIf="!pictures[i].uploaded">
            <md-spinner mode="indeterminate" color="warn"></md-spinner>
        </div>
    </div>
</div>
