<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPictureLabel" jhiTranslate="pictripApp.picture.home.createOrEditLabel">Create or edit a Picture</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!picture.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="picture.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.picture.src" for="field_src">Src</label>
            <input type="text" class="form-control" name="src" id="field_src"
                [(ngModel)]="picture.src" required />
            <div [hidden]="!(editForm.controls.src?.dirty && editForm.controls.src?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.src?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.picture.caption" for="field_caption">Caption</label>
            <input type="text" class="form-control" name="caption" id="field_caption"
                [(ngModel)]="picture.caption"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.picture.size" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="picture.size" required />
            <div [hidden]="!(editForm.controls.size?.dirty && editForm.controls.size?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.size?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.size?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pictripApp.picture.views" for="field_views">Views</label>
            <input type="number" class="form-control" name="views" id="field_views"
                [(ngModel)]="picture.views"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="pictripApp.picture.place" for="field_place">Place</label>
            <select class="form-control" id="field_place" name="place" [(ngModel)]="picture.placeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="placeOption.id" *ngFor="let placeOption of places; trackBy: trackPlaceById">{{placeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="pictripApp.picture.step" for="field_step">Step</label>
            <select class="form-control" id="field_step" name="step" [(ngModel)]="picture.stepId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="stepOption.id" *ngFor="let stepOption of steps; trackBy: trackStepById">{{stepOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
