
<div *ngIf="step">
    <agm-map [latitude]="step?.placeLat" [longitude]="step?.placeLng" [zoom]="zoom" zoomControl="false" streetViewControl="false">
        <agm-marker [latitude]="step?.placeLat" [longitude]="step?.placeLng" [label]="step.number?.toString()"></agm-marker>
    </agm-map>
    <jhi-alert-error></jhi-alert-error>
    <div class="main-content">

        <div class="step-controls">
            <div class="previous-step">
                <div class="previous-arrow">
                    <i class="fa fa-arrow-left"></i>
                </div>
                <div class="previous-step-details">
                    <i class="fa fa-train"></i>
                    <p>#4 - Fès, Maroc</p>
                </div>
            </div>

            <div class="back-to-map" [routerLink]="['/trip', step.tripId]">
                <i class="fa fa-map-o"></i>
                <span>Back to Map</span>
            </div>

            <div class="next-step">
                <div class="next-arrow">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div class="next-step-details">
                    <i class="fa fa-bus"></i>
                    <p>#6 - Ouzoud, Maroc</p>
                </div>
            </div>
        </div>


        <h4 class="text-center">#{{step.number}} - {{step.placeName}}</h4>
        <h5 *ngIf="step.dateFrom && step.dateTo">
            <span>
                <i class="fa fa-calendar"></i>
            </span>
            {{step.dateFrom}} - {{step.dateTo}}
        </h5>
        <p *ngIf="step.description"><span>{{step.description}}</span></p>
    </div>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pictripApp.step.number">Number</span></dt>
        <dd>
            <span>{{step.number}}</span>
        </dd>

        <dt><span jhiTranslate="pictripApp.step.dateFrom">Date From</span></dt>
        <dd>
            <span>{{step.dateFrom | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pictripApp.step.dateTo">Date To</span></dt>
        <dd>
            <span>{{step.dateTo | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pictripApp.step.place">Place</span></dt>
        <dd>
            <div *ngIf="step.placeId">
                <a [routerLink]="['/place', step.placeId]">{{step.placeName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pictripApp.step.trip">Trip</span></dt>
        <dd>
            <div *ngIf="step.tripId">
                <a [routerLink]="['/trip', step.tripId]">{{step.tripName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'step/'+ step.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
