agm-map {
    height: 300px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

md-input-container {
    width: 100%;
}

.transportation-select {
    margin-left: -5px;
    justify-content: flex-start;
    flex-wrap: wrap;
    md-card {
        border-radius: 50%;
        margin: 5px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.step-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .previous-arrow, .next-arrow {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16pt;
    }

    .previous-step {
        cursor: pointer;
        width: 33.33%;
        text-align: left;
        .previous-arrow {
            float: left;
        }
    }

    .next-step {
        cursor: pointer;
        width: 33.33%;
        text-align: right;
        .next-arrow {
            float: right;
        }
    }

    .back-to-map {
        cursor: pointer;
        width: 33.34%;
        text-align: center;
    }
}

