<form ngNoForm action="{{ providerURL }}" method="POST">
    <a class="btn-floating tooltipped margin-h-1 btn-large waves-effect waves-light jh-btn-{{ provider }}"
       [ngSwitch]="provider" [mdTooltip]="tooltipText" mdTooltipPosition="above">
        <i *ngSwitchCase="'google'" class="fa fa-google-plus"></i>
        <i *ngSwitchCase="'facebook'" class="fa fa-facebook"></i>
        <i *ngSwitchCase="'twitter'" class="fa fa-twitter"></i>
    </a>
    <!--<button type="submit" class="btn btn-block jh-btn-social jh-btn-{{ provider }}">
        <span jhiTranslate="social.btnLabel" translateValues="{ label: '{{label}}' }">Sign in with {{ label }}</span>
    </button>-->
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>
