<div class="main-content">
    <h2>
        <span jhiTranslate="pictripApp.trip.home.title">Trips</span>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red accent-3" mdTooltip="Create new Trip" mdTooltipPosition="above" [routerLink]="['../trip-new']">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <md-input-container class="col-md-12">
                <input
                    type="text"
                    mdInput
                    [(ngModel)]="currentSearch"
                    id="currentSearch"
                    name="currentSearch"
                    placeholder="{{ 'pictripApp.trip.home.search' | translate }}">
                <button class="btn" mdSuffix (click)="search(currentSearch)">
                    <span class="fa fa-search"></span>
                </button>
                <button class="btn" mdSuffix (click)="clear()" *ngIf="currentSearch">
                    <span class="fa fa-trash-o"></span>
                </button>
            </md-input-container>
        </div>
    </div>
    <br/>
    <div *ngIf="trips" class="trip-container flex flex-wrap">
        <md-card class="trip-card" *ngFor="let trip of trips ;trackBy: trackId">
            <div md-card-image class="card-image darken-2" [ngClass]="trip.color.toLowerCase().replace('_', '-')">
                <img *ngIf="trip.coverId" src="{{trip.coverSrc}}">
                <a [routerLink]="['../trip', trip.id ]">
                    <h5 class="card-title truncate">{{trip.name}}</h5>
                </a>
                <div class="fill"></div>
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <i class="fa fa-ellipsis-v more-actions-button"></i>
                </button>
                <md-menu #menu="mdMenu" xPosition="before">
                    <button md-menu-item [routerLink]="['../trip/' + trip.id + '/edit']">
                        <i class="fa fa-pencil"></i>
                        <span>Edit</span>
                    </button>
                    <button md-menu-item (click)="showDeleteModal(trip)"
                            replaceUrl="true">
                        <i class="fa fa-trash"></i>
                        <span>Delete</span>
                    </button>
                </md-menu>
            </div>
            <md-card-header>
                <md-card-title></md-card-title>
            </md-card-header>
            <md-card-content>
                <p *ngIf="trip.dateFrom && trip.dateTo">
                    <i class="fa fa-calendar margin-r-1"></i>
                    {{formatDate(trip.dateFrom)}} - {{formatDate(trip.dateTo)}}
                </p>
                <p>{{summarizeText(trip.description)}}</p>
            </md-card-content>
            <md-card-footer>
                    <button [routerLink]="['../trip', trip.id ]" md-button>SEE</button>
            </md-card-footer>
        </md-card>
    </div>
    </div>
</div>
