<form class="main-content create-edit-trip-form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
     <h4 id="myTripLabel">{{tripId ? "Edit a Trip"  : "Create a Trip"}}</h4>
    <div class="margin-t-3">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <md-input-container class="col-md-12">
                <input mdInput placeholder="Name" [(ngModel)]="trip.name" [formControl]="nameFormControl">
                <md-error *ngIf="nameFormControl.hasError('maxLength')">
                    This field cannot be longer than 80 characters.
                </md-error>
                <md-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                </md-error>
            </md-input-container>
        </div>

        <div class="row">
            <md-input-container class="col-md-12">
                <textarea mdInput mdTextareaAutosize name="description" id="field_description"
                          [(ngModel)]="trip.description" placeholder="Description"></textarea>
                <md-hint align="end">{{!trip.description ? 0 : trip.description.length}} / 255</md-hint>
            </md-input-container>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <md-input-container>
                    <input id="field_dateFrom" mdInput name="dateFrom" type="text" [(ngModel)]="trip.dateFrom" [mdDatepicker]="dateFromPicker" placeholder="Date from"/>
                    <button mdSuffix [mdDatepickerToggle]="dateFromPicker"></button>
                </md-input-container>
                <md-datepicker touchUi="true" #dateFromPicker></md-datepicker>
            </div>

            <div class="col-sm-6">
                <md-input-container>
                    <input id="field_dateTo" mdInput name="dateTo" type="text" [(ngModel)]="trip.dateTo" [mdDatepicker]="dateToPicker" placeholder="Date to"/>
                    <button mdSuffix [mdDatepickerToggle]="dateToPicker"></button>
                </md-input-container>
                <md-datepicker touchUi="true" #dateToPicker></md-datepicker>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="flex privacy-select">
                    <md-card (click)="changePrivacy('PUBLIC')" [ngClass]="{'teal white-text': trip?.privacy=='PUBLIC'}">
                        <h5>Public</h5>
                        <p>Anyone can see your trip. It will also referenced in the explore section.</p>
                        <i class="fa fa-globe"></i>
                    </md-card>
                    <md-card (click)="changePrivacy('ANYONE_WITH_LINK')" [ngClass]="{'teal white-text': trip?.privacy=='ANYONE_WITH_LINK'}">
                        <h5>Anyone with the link</h5>
                        <p>The trip will be hidden from Explore catalog, but anyone with the link could access.</p>
                        <i class="fa fa-link"></i>
                    </md-card>
                    <md-card (click)="changePrivacy('PRIVATE')" [ngClass]="{'teal white-text': trip?.privacy=='PRIVATE'}">
                        <h5>Private</h5>
                        <p>The trip can be be seen only by the people you invite.</p>
                        <i class="fa fa-lock"></i>
                    </md-card>
                </div>
            </div>
        </div>
        <!--
        <div class="input-field">
            <label jhiTranslate="pictripApp.trip.cover" for="field_cover">Cover</label>
            <select class="form-control" id="field_cover" name="cover" [(ngModel)]="trip.coverId">
                <option [ngValue]="null"></option>
                <option [ngValue]="pictureOption.id" *ngFor="let pictureOption of covers; trackBy: trackPictureById">{{pictureOption.src}}</option>
            </select>
        </div>
        <div class="input-field">
            <label jhiTranslate="pictripApp.trip.members" for="field_members">Members</label>
            <select class="form-control" id="field_members" multiple name="members" [(ngModel)]="trip.members">
                <option [ngValue]="getSelected(trip.members, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>-->
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="waves-effect waves-red btn-flat" (click)="cancel()">
                    <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect red accent-3">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
