<div class="fixed-action-btn add-step-btn">
    <a class="btn-floating btn-large red accent-3" mdTooltip="Create new Step" mdTooltipPosition="above" [routerLink]="['./step-new']">
        <i class="fa fa-pencil"></i>
    </a>
</div>
<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <md-list>
            <h3 md-subheader>Steps</h3>
            <md-list-item class="step-list-item" *ngFor="let step of steps | sortStepByNumber" [ngClass]="{'selected': selectedStep.id === step.id}">
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <i class="fa fa-ellipsis-v more-actions-button font-black"></i>
                </button>
                <md-menu #menu="mdMenu" xPosition="before">
                    <button md-menu-item [routerLink]="['./step/' + step.id + '/edit']">
                        <i class="fa fa-pencil"></i>
                        <span>Edit</span>
                    </button>
                    <button md-menu-item (click)="deleteStep(step)"
                            replaceUrl="true">
                        <i class="fa fa-trash"></i>
                        <span>Delete</span>
                    </button>
                </md-menu>
                <h5 md-list-icon>{{step.number}}</h5>
                <p class="step-name" md-line (click)="selectStep(step.number)">{{step?.placeName}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Contributors</h3>
            <md-list-item *ngFor="let contributor of contributors">
                <md-icon md-list-icon>note</md-icon>
                <h4 md-line>{{contributor.name}}</h4>
                <p md-line> {{contributor.updated | date}} </p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [fitBounds]="bounds"
        usePanning="true"
        zoomControlOptions="{position: BOTTOM_LEFT}"
        streetViewControlOptions="{position: BOTTOM_LEFT}">
        <agm-marker *ngFor="let step of steps"
                    [latitude]="step.placeLat"
                    [longitude]="step.placeLng"
                    [label]="step.number.toString()"
                    openInfoWindow = "false"
                    (markerClick)="selectStep(step.number)">
            <agm-info-window #stepInfoWindow maxWidth="400">
                <h4>#{{step?.number}} - {{step?.placeName}}</h4>
                <p *ngIf="step.dateFrom && step.dateTo"><i class="fa fa-calendar margin-r-1"></i>{{formatDate(step.dateFrom)}} - {{formatDate(step.dateTo)}}</p>
                <p><i class="fa fa-camera margin-r-1"></i>24 photos</p>
                <p>{{summarizeText(step.description)}}</p>
                <a class="waves-effect waves-light btn teal white-text">See details</a>
                <a class="waves-effect waves-teal btn-flat"(click)="closeInfoWindow(stepInfoWindow)">Close</a>
            </agm-info-window>
        </agm-marker>
        <agm-polyline *ngFor="let journey of journeys"
                      clickable="true"
                      geodesic="true"
                      [strokeOpacity] = "journey.strokeOpacity"
                      (lineClick) = "journeyClicked(journey)"
                      (lineMouseOver) = "journeyMouseOver(journey)"
                      (lineMouseOut) = "journeyMouseOut(journey)"
                      [strokeColor]="this.transportationColors[journey.transportation]">
            <agm-polyline-point [latitude]="journey.stepFromLat" [longitude]="journey.stepFromLng"></agm-polyline-point>
            <agm-polyline-point [latitude]="journey.stepToLat" [longitude]="journey.stepToLng"></agm-polyline-point>
        </agm-polyline>
        <agm-info-window [isOpen]="showDeleteWindow" [latitude]="selectedStep?.placeLat" [longitude]="selectedStep?.placeLng">
            <h4>Delete step ?</h4>
            <p>Are you sure you want to delete step #{{selectedStep?.number}} - {{selectedStep?.placeName}}.</p>
            <p>All the related pictures will be lost !</p>
            <a class="waves-effect waves-light btn red accent-3 white-text" (click)="confirmStepDeletion()">Delete</a>
            <a class="waves-effect waves-teal btn-flat" (click)="cancelStepDeletion()">Cancel</a>
        </agm-info-window>
    </agm-map>
</md-sidenav-container>
