<div class="fixed-action-btn add-step-btn">
    <a class="btn-floating btn-large red accent-3" mdTooltip="Create new Step" mdTooltipPosition="above" [routerLink]="['./step-new']">
        <i class="fa fa-pencil"></i>
    </a>
</div>
<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <md-list>
            <h3 md-subheader>Steps</h3>
            <md-list-item *ngFor="let step of steps">
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <i class="fa fa-ellipsis-v more-actions-button font-black"></i>
                </button>
                <md-menu #menu="mdMenu" xPosition="before">
                    <button md-menu-item [routerLink]="['./step/' + step.id + '/edit']">
                        <i class="fa fa-pencil"></i>
                        <span>Edit</span>
                    </button>
                    <button md-menu-item [routerLink]="['/', { outlets: { popup: 'step/'+ step.id + '/delete'} }]"
                            replaceUrl="true">
                        <i class="fa fa-trash"></i>
                        <span>Delete</span>
                    </button>
                </md-menu>
                <h5 md-list-icon>{{step.number}}</h5>
                <p md-line (click)="zoomOnStep(step)">{{step.placeName}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Contributors</h3>
            <md-list-item *ngFor="let contributor of contributors">
                <md-icon md-list-icon>note</md-icon>
                <h4 md-line>{{contributor.name}}</h4>
                <p md-line> {{contributor.updated | date}} </p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [fitBounds]="bounds">
        <agm-marker *ngFor="let step of steps" [latitude]="step.placeLat" [longitude]="step.placeLng" [label]="step.number.toString()"></agm-marker>
        <agm-polyline *ngFor="let journey of journeys" clickable="true" geodesic="true" [strokeColor]="this.transportationColors[journey.transportation]">
            <agm-polyline-point [latitude]="journey.stepFromLat" [longitude]="journey.stepFromLng"></agm-polyline-point>
            <agm-polyline-point [latitude]="journey.stepToLat" [longitude]="journey.stepToLng"></agm-polyline-point>
        </agm-polyline>
    </agm-map>
</md-sidenav-container>



<!--- <h2><span jhiTranslate="pictripApp.trip.detail.title">Trip</span> {{trip.id}}</h2>
<hr>
<jhi-alert-error></jhi-alert-error>
<dl class="row-md jh-entity-details">
    <dt><span jhiTranslate="pictripApp.trip.name">Name</span></dt>
    <dd>
        <span>{{trip.name}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.description">Description</span></dt>
    <dd>
        <span>{{trip.description}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.dateFrom">Date From</span></dt>
    <dd>
        <span>{{trip.dateFrom | date:'mediumDate'}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.dateTo">Date To</span></dt>
    <dd>
        <span>{{trip.dateTo | date:'mediumDate'}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.privacy">Privacy</span></dt>
    <dd>
        <span jhiTranslate="{{'pictripApp.Privacy.' + trip.privacy}}">{{trip.privacy}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.color">Color</span></dt>
    <dd>
        <span jhiTranslate="{{'pictripApp.Color.' + trip.color}}">{{trip.color}}</span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.cover">Cover</span></dt>
    <dd>
        <div *ngIf="trip.coverId">
            <a [routerLink]="['/picture', trip.coverId]">{{trip.coverSrc}}</a>
        </div>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.members">Members</span></dt>
    <dd>
        <span *ngFor="let members of trip.members; let last = last">
            {{members.login}}{{last ? '' : ', '}}
        </span>
    </dd>
    <dt><span jhiTranslate="pictripApp.trip.owner">Owner</span></dt>
    <dd>
        {{trip.ownerLogin}}
    </dd>
</dl>

<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
</button>

<button type="button"
        [routerLink]="['/', { outlets: { popup: 'trip/'+ trip.id + '/edit'} }]"
        replaceUrl="true"
        class="btn btn-primary">
    <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
</button>-->
