@mixin max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

.trip-card {
    margin: 0 10px 20px 10px;
}

.card-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-image,
.card-image > img {
    height: 60px;
}

.card-title {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.more-actions-button {
    color: white;
    font-size: 16pt;
}
.more-actions-button.font-black {
    color: black;
}

.fill {
    flex-grow: 1;
}

.create-edit-trip-form {
    .row {
        padding: 15px 0;
    }
    md-input-container {
        width: 100%;
    }
    .privacy-select {
        flex-wrap: wrap;
        md-card {
            cursor: pointer;
            text-align: center;
            width: 33.33%;
        }
        @include max-width(970px) {
            md-card {
                width: 100%;
            }
        }
    }
}

.trip-card {
    min-width: 300px;
    box-sizing: border-box;
    flex: 1;
}

@include max-width(375px) {
    .trip-card {
        width: 90%;
        flex-basis: 100%;
    }
}

@include max-width(750px) {
    .trip-card {
        flex-basis: 100% / 2;
    }
    .privacy-select > .card-panel {
        width: 100%;
        flex-basis: 100%;
        margin: 10px 0;
    }
}

@include max-width(3*375px) {
    .trip-card {
        flex-basis: 100% / 3;
    }
    .privacy-select > .card-panel {
        width: 33.33%;
        flex-basis: 33.33%;
    }
}

agm-map {
    padding-top: 3px;
    height: calc(100vh - 67px);
}

md-sidenav-container {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

md-sidenav.mat-sidenav-opened {
    background-color: transparent;
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 250px !important;
}

.add-step-btn {
    right: 50px;
}
