<h1 md-dialog-title jhiTranslate="login.title">Sign in</h1>
<div md-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <form class="form" role="form">
                <md-input-container>
                    <input mdInput placeholder="Login" type="text" name="username" id="username" [(ngModel)]="username">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Password" type="password" name="password" id="password" [(ngModel)]="password">
                </md-input-container>
                <p></p>
                <md-checkbox name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>Remember me</md-checkbox>
            </form>
            <p></p>
        </div>
        <div class="col-md-6">
            <br/>
            <div class="flex">
                <jhi-social provider="google"></jhi-social>
                <jhi-social provider="facebook"></jhi-social>
                <jhi-social provider="twitter"></jhi-social>
            </div>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
    <div class=""row>
        <div class="center-align col m12">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
            <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            <br/>
            <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
        </div>
    </div>
</div>
<div md-dialog-actions>
    <a class="waves-effect waves-teal btn-flat" md-dialog-close (click)="closeModal()">Cancel</a>
    <a class="waves-effect waves-light btn red accent-3" jhiTranslate="login.form.button" (click)="login()">Sign in</a>
</div>
